<!doctype html>
<html lang="en">
  <head>
       <% include ./partials/Head %>
       <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
       <link rel="stylesheet" type="text/css" href="../styles/article.css">

 </head>


 <body>
   <% include ./partials/navbar %>


        <!-- Article -->
        <div class="article">

            <article>
                <h2> <%= article.title %> </h2>
                <h3>Created by: <%= article.username %> </h3>
                <img  src="<%=article.image%>"> </img>

                    <div id="bottomRight">


                      <form id="likeComment" method="POST" action="/likes/<%=article.article_id%>">
                     <button id="clickableAwesomeFont" type="submit"><i class="fas fa-thumbs-up"></i>
                       <!--<span id='clickableAwesomeFont'><i class="fas fa-thumbs-up"></i>-->
                   </form>
                   </div>

                    <div>
                      <a href="<%=article.url%>"> <%=article.url%></a>
                    </div>
                    <div class="description">
                      <p><%=article.description%></p>
                    </div>
                    <div id="bottomLeft">
                      <button class = "commentButton">Add Comment</button>

                    </div>
                      
              </footer>
                  <form id="composeComment" method ="POST" action="/comments/<%=article.article_id%>">
                  <div id="textBox">
                    <textarea id = "textarea" name="newComment" placeholder="Add a comment"></textarea>
                  </div>
                  <button type="submit" id="submitComment">b</button>
                </form>


            </article>

        </div>
        <div class="comments">
          <% for (comment of comments) {%>
            <p><%= comment.comment_text%></p>
          <% }%>
        </div>
 </body>

</html>
