<!doctype html>
<html lang="en">
  <head>
    <title>Crash Course</title>
       <% include ./partials/Head %>
      <link rel="stylesheet" type="text/css" href="../styles/article.scss">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="../scripts/ImageResolver.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <script>
    // HTTP Request to other domain are blocked
    // We need a CORS proxy
    function proxify( request ) {
        request.url = "http://www.inertie.org/ba-simple-proxy.php?mode=native&url=" + encodeURIComponent( request.url );
        return request;
    }

    // Create an instance of ImageResolver
    // The proxy function is passed as an option
    var resolver = new ImageResolver( { requestPlugin : proxify } );

    // Register plugins we want to use
    // You can use the built-in plugin, or create your own
    // Plugins will be called in the order of their registration
    // resolver.register(new ImageResolver.FileExtension());
    // resolver.register(new ImageResolver.NineGag());
    // resolver.register(new ImageResolver.Instagram());
    // resolver.register(new ImageResolver.ImgurPage());

    // resolver.register(new ImageResolver.MimeType());
    // resolver.register(new ImageResolver.Flickr( '6a4f9b6d16c0eaced089c91a2e7e87ad' ));
    // resolver.register(new ImageResolver.Opengraph());
    // resolver.register(new ImageResolver.Webpage());

    $(function(){
        $('#getImage').on('click', function(e){
            e.preventDefault();
            $("#form29").addClass('loading');
            var url = $('#form29').val();

            resolver.resolve( url, function( result ){
              //  console.log( result );
                if ( result ) {


                    $('#newImage').attr('src', `${result.image}`);
                    console.log(result.image);
                } else {
                    alert('Can not find image');
                }
                $("#url").removeClass('loading');
            });

        });

    });
    </script>

 </head>


 <body>
   <% include ./partials/navbar %>


        <!-- Article -->
        <div class="article">

            <article>
                <h1> <%= article.title %> </h1>
                <h3>Created by: <%= article.username %> </h3>
                <img  src="<%=article.image%>"> </img>

              <footer>
                    <div id="bottomRight">
                      <span id='clickableAwesomeFont'><i class="fas fa-thumbs-up"></i>
                    </div>
                    <div>
                      <a href="<%=article.url%>"> <%=article.url%></a>
                    </div>
                    <div id="bottomLeft">
                        <button class = "commentButton">Add Comment</button>

                    </div>
              </footer>
                  <form id="composeComment" method ="POST" action="/articles/1/comments">
                  <div id="textBox">
                    <textarea id = "textarea" name="newComment" placeholder="Add a comment"></textarea>
                  </div>
            </article>

        </div>
        <div class="comments">
          <% for (comment of comments) {%>
            <p><%= comment.comment_text%></p>
          <% }%>
        </div>
        <div class="">
                      <img id="newImage" src=""> 
                    </div>

 </body>
</html>
